	.#.gitignore
	.ICEauthority
	.Skype/
	.VirtualBox/
	.Xauthority
	.adobe/
	.anthy/
	.authinfo
	.authinfo~
	.bash_history
	.bash_logout
	.bash_profile
	.bashburn_history
	.bashburnrc
	.bbdb
	.bbdb~
	.cabal/
	.cache/
	.config/
	.conkyrc
	.conkyrc~
	.cpan/
	.cpanplus/
	.dbus/
	.dia/
	.dropbox/
	.dzil/
	.eclipse/
	.elmo/
	.emacs.d/
	.emacs~
	.ercpass
	.ercpass~
	.esd_auth
	.folders
	.folders~
	.fontconfig/
	.gconf/
	.gem/
	.ghc/
	.ghci
	.gimp-2.6/
	.gimp-2.8/
	.gitconfig
	.gnome2/
	.gnupg/
	.gnus.registry.eioio
	.gnus.registry.eld
	.gnus.registry.eld~
	.gstreamer-0.10/
	.gtkpod/
	.histfile
	.ido.last
	.ido.last~
	.irssi/
	.java/
	.kde4/
	.kkcrc
	.lesshst
	.litecoin/
	.local/
	.macromedia/
	.mazegaki.dic.lock
	.mission-control/
	.mozilla/
	.mplayer/
	.mysql_history
	.newsrc
	.newsrc-dribble~
	.newsrc.eld
	.newsrc.eld~
	.newsrc~
	.nexuiz/
	.nvidia-settings-rc
	.pdfedit/
	.pki/
	.psql_history
	.pulse-cookie
	.pulse/
	.purple/
	.qt/
	.qtorrent.history
	.sane/
	.screenrc
	.screenrc~
	.skk-jisyo.lock
	.skk-uim-jisyo.lock
	.so_sane_state
	.ssh/
	.subversion/
	.thumbnails/
	.thunderbird/
	.uim.d/
	.w3m/
	.wicd/
	.wl
	.xmonad/.conky_dzen
	.xmonad/xmonad-x86_64-linux
	.xmonad/xmonad.errors
	.xmonad/xmonad.hi
	.xmonad/xmonad.o
	.xscreensaver
	.xscreensaver.old
	.xscreensaver~
	.xsession-errors
	.zcompdump
	.zshrc~
